In [4]:
#import dependencies
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go
import json
from urllib.request import urlopen

In [159]:
#import data as pandas dataframes
tx_tests_county = pd.read_excel("../resources/data/tx_tests_county.xlsx")
tx_hospitalizations = pd.read_excel("../resources/data/tx_hospitalizations.xlsx")
tx_fatality_county = pd.read_excel("../resources/data/tx_fatality_county.xlsx")
tx_cases_county = pd.read_excel("../resources/data/tx_cases_county.xlsx")
tx_activecases_county = pd.read_excel("../resources/data/tx_activecases_county.xlsx")

In [114]:
tx_activecases_county

,"COVID-19 Active Cases by County, 3/4/2020 - 06/17/20 at 9:30 AM CST",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73
0,DISCLAIMER: All data are provisional and are s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,County,4-7,4-8,4-9,4-10,4-11,4-12,4-13,4-14,...,6-08,6-09,6-10,6-11,6-12,6-13,6-14,6-15,6-16,6-17
2,NaN,Anderson,1,1,2,2,3,3,3,3,...,24,30,30,34,29,34,34,34,916,915
3,NaN,Andrews,10,10,10,11,11,11,12,13,...,0,0,0,0,0,1,1,1,3,3
4,†,Angelina,14,14,14,15,15,14,14,14,...,110,72,116,116,144,144,144,120,142,163
5,NaN,Aransas,1,2,2,2,2,2,2,2,...,1,1,1,1,2,2,2,1,2,2
6,NaN,Archer,0,0,0,0,0,0,0,0,...,1,2,2,2,2,2,2,2,2,2
7,NaN,Armstrong,0,0,0,0,0,0,0,1,...,1,1,1,1,0,0,0,0,0,0
8,NaN,Atascosa,4,3,3,5,6,7,7,7,...,9,9,12,10,10,8,7,7,6,6
9,NaN,Austin,6,6,6,7,7,8,9,10,...,5,5,5,5,5,5,5,5,5,5
10,NaN,Bailey,0,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
11,NaN,Bandera,0,0,1,1,2,2,2,2,...,0,0,0,0,1,1,1,1,1,1
12,†,Bastrop,14,15,13,16,16,14,13,13,...,153,161,167,172,167,171,173,173,191,207
13,NaN,Baylor,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
14,NaN,Bee,0,1,1,1,2,2,2,3,...,14,16,18,19,23,23,23,23,23,22
15,†,Bell,53,55,57,66,66,76,76,76,...,213,231,264,279,323,354,378,363,366,373
16,†,Bexar,399,431,469,507,545,588,623,631,...,1141,1133,1260,1350,1487,1657,1774,2018,2005,2439
17,†,Blanco,3,3,3,3,3,3,3,3,...,4,5,5,4,3,3,3,3,3,4
18,NaN,Borden,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,†,Bosque,0,0,0,0,0,0,0,0,...,5,5,5,5,5,4,4,4,3,3
20,NaN,Bowie,15,18,21,26,27,29,28,24,...,197,216,216,195,197,195,143,133,134,123
21,†,Brazoria,152,157,157,166,172,174,186,185,...,412,168,167,173,190,0,0,0,603,621
22,†,Brazos,77,77,83,81,78,93,95,96,...,406,384,413,387,413,424,483,482,319,362
23,NaN,Brewster,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,6,10,12,17
24,NaN,Briscoe,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,NaN,Brooks,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
26,†,Brown,4,4,6,6,8,8,8,8,...,6,6,6,6,6,6,6,3,4,4
27,†,Burleson,5,5,5,6,5,5,5,5,...,23,26,30,28,28,29,29,29,32,33
28,†,Burnet,4,4,4,5,5,5,4,4,...,19,15,15,15,15,20,21,21,20,21
29,†,Caldwell,5,5,5,6,5,5,5,5,...,48,47,49,53,53,59,111,111,118,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,NaN,Titus,2,2,4,6,6,6,6,7,...,334,295,278,210,201,261,254,247,242,229
227,NaN,Tom Green,23,24,23,29,30,32,30,33,...,18,19,19,18,24,31,37,38,53,63
228,†,Travis,433,469,495,525,554,593,606,681,...,502,535,629,694,757,785,901,854,829,848
229,NaN,Trinity,2,2,3,3,3,3,3,4,...,8,9,9,9,9,9,8,8,3,6
230,NaN,Tyler,1,1,1,1,2,2,2,2,...,6,6,6,6,6,5,5,5,3,3
231,NaN,Upshur,4,5,5,5,5,7,6,7,...,13,16,16,16,17,13,13,14,16,16
232,NaN,Upton,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
233,†,Uvalde,5,5,6,6,5,4,4,4,...,7,0,1,1,1,1,2,3,2,5
234,NaN,Val Verde,6,6,5,4,7,6,6,8,...,8,7,7,7,4,4,4,4,2,2
235,NaN,Van Zandt,3,5,5,8,8,9,8,8,...,15,16,13,16,16,18,17,17,20,21
236,NaN,Victoria,50,59,64,71,74,75,76,80,...,15,19,23,25,25,38,40,39,42,45
237,NaN,Walker,10,9,9,11,15,15,19,36,...,1403,1417,1197,1098,1099,1041,623,639,538,412
238,NaN,Waller,11,11,12,13,14,13,14,16,...,22,27,33,35,38,32,35,33,34,41
239,NaN,Ward,0,0,0,0,0,0,0,0,...,0,1,1,1,3,3,3,3,6,6
240,†,Washington,20,22,27,33,31,31,29,29,...,107,106,111,112,51,53,53,53,53,54
241,†,Webb,112,123,141,150,150,165,163,169,...,136,141,157,167,176,190,190,166,194,231
242,NaN,Wharton,17,15,16,18,21,21,22,23,...,27,31,32,32,34,37,38,38,37,34
243,NaN,Wheeler,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
244,†,Wichita,44,44,44,43,42,35,34,32,...,9,12,12,13,14,20,20,19,37,40
245,NaN,Wilbarger,0,0,0,0,0,0,0,1,...,2,2,2,2,1,1,1,1,0,0
246,NaN,Willacy,4,6,4,3,3,2,2,2,...,22,27,29,32,35,36,38,40,40,44
247,†,Williamson,67,68,75,77,79,80,84,82,...,156,148,183,190,204,222,255,290,332,370
248,NaN,Wilson,7,7,8,9,8,9,9,9,...,8,8,9,8,12,14,14,14,14,13
249,NaN,Winkler,0,0,0,1,1,1,1,1,...,0,0,0,0,1,1,1,1,1,1
250,NaN,Wise,3,3,3,4,5,5,4,4,...,11,11,11,11,11,11,11,11,11,11
251,NaN,Wood,4,4,4,5,5,5,5,6,...,25,27,25,23,22,23,23,23,24,25
252,NaN,Yoakum,0,0,0,0,0,0,0,0,...,0,2,5,5,5,6,6,6,7,7
253,NaN,Young,3,3,3,2,2,2,2,2,...,2,2,7,9,10,11,11,11,11,11
254,NaN,Zapata,1,1,3,3,3,3,3,3,...,4,4,4,4,6,5,6,6,14,14
255,NaN,Zavala,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,2,2,2,2

In [161]:
#Active Cases DF cleanup
#Remove first row
activecase_clean = tx_activecases_county.iloc[1:256,1:74]

#remove excel formatting and excess text occuring for entries before Jun 8
active_nobold = activecase_clean.iloc[0,:].str[-4:]
for x in range(len(active_nobold)):
    try:
        active_nobold[x] = active_nobold[x].lstrip('\n')
    except Exception as e:
        pass

#reinsert headings and drop duplicate row
activecase_clean.loc[1] = active_nobold
activecase_clean.iloc[0,0] = "County"
activecase_clean.columns = activecase_clean.iloc[0]
activecase_clean = activecase_clean.drop([1])
activecase_clean.head()

1,County,4-7,4-8,4-9,4-10,4-11,4-12,4-13,4-14,4-15,...,6-08,6-09,6-10,6-11,6-12,6-13,6-14,6-15,6-16,6-17
2,Anderson,1,1,2,2,3,3,3,3,3,...,24,30,30,34,29,34,34,34,916,915
3,Andrews,10,10,10,11,11,11,12,13,13,...,0,0,0,0,0,1,1,1,3,3
4,Angelina,14,14,14,15,15,14,14,14,13,...,110,72,116,116,144,144,144,120,142,163
5,Aransas,1,2,2,2,2,2,2,2,2,...,1,1,1,1,2,2,2,1,2,2
6,Archer,0,0,0,0,0,0,0,0,0,...,1,2,2,2,2,2,2,2,2,2

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…